.navMov h3{
    font-size: 20px;
    margin-left: -290px;
    color: goldenrod;
}
.navMov ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin-top: -10px;
    justify-content: space-between;
}
.navMov ul li:nth-child(1){
    font-size: 50px;
    color: honeydew;
}
.navMov ul li:nth-child(2),
.navMov ul li:nth-child(3),
.navMov ul li:nth-child(4){
    margin-left: 50px;
    margin-top: 20px;
}